.vscode/*
.browse.VC.*
.DS_Store
gen/build
deps/build
deps/build.log
docs/build
docs/src/notebooks
Manifest.toml
*/Manifest.toml
.ipynb_checkpoints
o.*

HepMC3.wit
jlHepMC3-report.txt
gen/cpp/JL*.cxx
gen/cpp/*.h
gen/cpp/jl*
gen/cpp/generated_cxx

gen/jl/*
!gen/jl/HepMC3-extras.jl
